<form [formGroup]="loginForm">
    <div class="ui-fluid">
        <app-input-text
            type="text"
            label="Email"
            [control]="loginForm.controls['email']"
        ></app-input-text>
        <app-input-text
            type="password"
            label="Password"
            [control]="loginForm.controls['password']"
        ></app-input-text>
    </div>
    <div class="ui-g">
        <div class="ui-g-4 ui-g-offset-4">
            <app-button
                class="ui-fluid"
                label="Login"
                [disabled]="!loginForm.valid"
                (click)="onClickLogin()"
            ></app-button>
        </div>
    </div>
</form>
