sudo: true
dist: trusty

cache:
  directories:
  - $HOME/google-cloud-sdk
env:
  global:
  - CLOUDSDK_CORE_DISABLE_PROMPTS=1
  - INSTANCE=bsa-2018-nchart
  - ZONE=europe-west3-b	
  - PROJECT=nchart-bsa-2018"
  - DOCKER_IMAGE_NAME=oleksandrkovalov/nchart
before_install:
- if [ ! -d $HOME/google-cloud-sdk/bin ]; then
    rm -rf $HOME/google-cloud-sdk;
    curl https://sdk.cloud.google.com | bash > /dev/null;
  fi
- source $HOME/google-cloud-sdk/path.bash.inc
- gcloud version

jobs:
  include:
    - stage: build docker image
      script:
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      # - docker build -t nchart .
      # - docker tag nchart $DOCKER_USERNAME/nchart:$TRAVIS_BUILD_NUMBER
      # - docker push $DOCKER_USERNAME/nchart

deploy:
  - provider: script
    script: bash ./deploy.sh
    skip_cleanup: true
    on:
      branch: docker-test