<p-table
	[value]="data"
	[columns]="columns"
	[scrollable]="true"
	[rows]="20"
	[virtualScroll]="true"
	[virtualRowHeight]="22"
	[totalRecords]="data.length"
	class="data-table"
	[(selection)]="selectedRows" 
	dataKey="vin"
>
	<ng-template pTemplate="header" let-headerData>
		<tr>
			<th class="header-cell number-cell">
				<label>
					<span pEditableColumn="headerData column-no">No</span>
					<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
				</label>
			</th>
			<th class="header-cell" *ngFor="let col of columns; let i = index" >
				<div>
					<span pEditableColumn="headerData">
						<p-cellEditor>
							<ng-template pTemplate="input">
								<input
									type="text"
									[value]="headerData[i].title"
									(keydown)="onHeaderKeyDown($event, i)"
									(blur)="onHeaderBlurDown($event, i)"
								>
							</ng-template>
							<ng-template pTemplate="output">
								{{headerData[i].title}}
							</ng-template>
						</p-cellEditor>
					</span>
					<app-button-action (click)="getColumnId(i)" [items]="headerItems"></app-button-action>
				</div>
				<p class="column-type">
					({{headerData[i].type}})
				</p>
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-columns="columns" let-rowData let-rowIndex="rowIndex">
		<tr pSelectableRow="rowData">
			<td class="number-cell">
				<label>
					<span class="column-no">{{rowIndex + 1}}</span>
					<app-button-action (click)="getDataRowId(rowIndex)" [items]="rowItems"></app-button-action>
					<p-tableCheckbox [value]="rowData"></p-tableCheckbox>
				</label>
			</td>
			<td *ngFor="let col of columns; let i = index" pEditableColumn="rowData">
				<p-cellEditor>
					<ng-template pTemplate="input">
						<input
							type="text"
							[value]="rowData[i]"
							(keydown)="onKeyDown($event, rowIndex, i)"
							(blur)="onBlur($event, rowIndex, i)"
						>
					</ng-template>
					<ng-template pTemplate="output">
						{{rowData[i]}}
					</ng-template>
				</p-cellEditor>
			</td>
		</tr>
	</ng-template>
</p-table>
