<div class="ui-dialog-wrp">
	<p-dialog
		[modal]="true"
		[draggable]="false"
		[width]="400"
		[minWidth]="250"
		[minHeight]="200"
		[minY]="70"
		[maximizable]="false"
		[resizable]="false"
		[closable]="true"
		[(visible)]="displayDelete"
		(onHide)="close()"
	>
		<p-header>
			Deletion
		</p-header>
		<div> 
			Are you sure you want to delete this project?	
		</div>
		<p-footer>
			<app-button size="small" label="Cancel" (onclick)="close()" class="dialog-button" size="small" type="secondary" ></app-button>
			<app-button size="small" label="Delete" (onclick)="delete()" class="dialog-button" size="small"></app-button>
		</p-footer>
	</p-dialog>

</div>

