<div class="ui-dialog-wrp">
	<p-dialog
	[modal]="true"
	[draggable]="false"
	[resizable]="false"
	[closable]="true"
	[width]="350"
	[minWidth]="200"
	[minY]="70"
	[maximizable]="false"
	[baseZIndex]="10000"
	[(visible)]="displayDelete"
	(onHide)="close()"
	(onAfterHide)="close()">
		<p-header>
			Delete
		</p-header>
		<div> 
			Are you sure you want to delete this project?	
		</div>
		<p-footer>
			<app-button size="small" label="Cancel" (onclick)="close()" class="dialog-button" ></app-button>
			<app-button size="small" label="Delete" (onclick)="delete()" class="dialog-button" ></app-button>
		</p-footer>
	</p-dialog>

</div>

<!--<label for="email">Email: </label><input type="email" id="email">-->
	<!--<button type="button" pButton icon="pi pi-check" (click)="display=false" label="Send" class="ui-button-secondary"></button>-->
	<!--<button type="text" (click)="showDialog()" pButton label="share"></button>-->
