<header class="landing-header">
	<div id="particles-js"></div>

	<div class="landing-text">
		<div class="description">
			NChart is an ultimate <b>data visualization tooling system</b> for those who wants to create innovative charts
		</div>
		<div class="description label">
			It's the best place to create, customize and manage charts
		</div>
		<div class="landing-header-button">
			<app-button size="large" label="Try it now!" [routerLink]="['app/project/draft']"></app-button>
		</div>
	</div>

	<div class="landing-image">
		<img src="../../../assets/screenshot.jpg" alt="">
	</div>

</header>
