<div class="ui-g">
    <div class="ui-md-6 ui-md-offset-3 ui-sm-10 ui-sm-offset-1 ui-lg-4 ui-lg-offset-4 login-container">
        <img
            src="assets/logoWithBottomLabel.png"
            class="logo"
        >
        <h3>Your innovative charts</h3>
        <div class="ui-main-block">
            <p-tabView
                [activeIndex]="0"
                (onChange)="resetForms()"
            >
                <p-tabPanel header="Sign In">
                    <app-login-form
                        [loginForm]="loginForm"
                        (loginClick)="onLogin($event)"
                        [isLoading]="isLoading"
                    ></app-login-form>
                </p-tabPanel>
                <p-tabPanel header="Register">
                    <app-register-form
                        [registerForm]="registerForm"
                        (registerClick)="onRegister($event)"
                        [isLoading]="isLoading"
                    ></app-register-form>
                </p-tabPanel>
            </p-tabView>
            <div class="ui-g-4 ui-g-offset-4">
                <div class="link-container">
                    <app-link
                        class="ui-fluid"
                        link="/app/project/draft"
                        type="secondary"
                        label="Skip for now"
						(onclick)="saveProj()"
					></app-link>
                </div>
            </div>
        </div>
    </div>
</div>
