
<div class="ui-date-time-picker-wrp">
	<label
		class="input-label"
	>
		Filter by date
	</label>
	<div class="ui-input-wrp" id="input_wrp">
			<input placeholder="Date Time:"
				   pInputText
				   [(ngModel)]="invalidDateTime"
				   [selectMode]="'range'"
				   [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
				   #dateTime4="ngModel"
				   class="date-time-picker-input"
			>
		<i class="ui-input-icon-right fa fa-calendar"></i>
			<owl-date-time #dt4 pickerMode="popup" pickerType="calendar"></owl-date-time>
			<span class="example-error" *ngIf="dateTime4.invalid && dateTime4.errors.owlDateTimeRange">
            Date Time Range Invalid.
        </span>
	</div>
</div>
