<div class="ui-dialog-wrp">
	<p-dialog
	[modal]="true"
	[draggable]="false"
	[width]="350"
	[minWidth]="200"
	[minY]="70"
	[maximizable]="false"
	[baseZIndex]="10000"
	[(visible)]="displayRename"
	(onHide)="close()"
	[closable]="false"
	(onAfterHide)="close()">
	<p-header>
		Rename project
		<i class="fas fa-times close-icon" (click)='close()'></i>
	</p-header>
		<div class="email-input">
			<app-input-text
				class="ui-fluid"
				type="text"
				label="Project name"
				[control]="formGroup.controls.name">
			</app-input-text>
		</div>
		<p-footer style="width: 100%">
				<app-button label="Send" [disabled]="!formGroup.valid" (onclick)="rename(formGroup.value)" style="float: right;"></app-button>
		</p-footer>
	</p-dialog>

</div>
