.paste-icon
    float: right
    cursor: pointer
    position: relative
    bottom: 7px

.export-elem-align
    display: flex
    flex-wrap: wrap
    flex-flow: row wrap
    justify-content: space-between
    align-items: baseline
    
.export-data-tabs-wrap
    min-height: auto
    margin-top: 1.5rem

app-input-text
    flex-basis: 49%

app-dropdown-simple
    flex-basis: 49%

.ui-button-position-right
    margin-top: 0

@media screen and (max-width: 600px)
    .export-elem-align
        flex-direction: column
        align-items: stretch
