<div class="ui-main-block">
	<h2 class="ui-main-block-header"><i class="fas fa-download"></i>Export</h2>
	<div class="export-data-tabs-wrap">
		<p-tabView 	activeIndex="0" (onChange)="onTabChange($event)">
			<p-tabPanel header="Download">
				<div class='export-elem-align'>
					<app-input-text		
						[control]="controlName"
						placeholder="File name"
						[showStates]="true"
						label="Enter file name"
					></app-input-text>
					<app-dropdown-simple 	
						[options]="options"
						[control]="controlType"
						label="Select file type"
					></app-dropdown-simple>
				</div>
				<app-button 
					(onclick)="exportData()"
					label="Download"
					class="ui-button-position-right"
					[disabled]="controlName.invalid"
					[loading]="isLoading"
				></app-button>
			</p-tabPanel>

			<p-tabPanel header="Embed">
				<div>
					<div style="float:left;">Copy the snippet below into your HTML code to embed the visualization</div>
					<app-button type="icon" icon="fas fa-paste" class="paste-icon" tooltip="Copy SVG code"
					tooltipPosition="top" (onclick)="copyToClipBoard()"></app-button>
				</div>
				<app-input-textarea 
				class="load-data-paste"
				rows="8" 
				autoResize="autoResize"
				[control]='svgFormControl'>
				</app-input-textarea>
			</p-tabPanel>

		</p-tabView>
	</div>
</div>
