<label class="input-label"
	   [class.ui-input-label-disabled]="isDisabled()">{{label}}</label>


	<input 	[formControl]="control"
			type="text" 
			pInputText 
			[disabled]="isDisabled()"
			[class.ui-input-error]="control.invalid && control.dirty"
			[class.ui-input-success]="control.valid"
	>
	<i class="fas fa-check success-icon" *ngIf="control.valid"></i>
	<i class="fas fa-question error-icon" *ngIf="control.invalid && control.dirty"></i>


<div class="input-label input-label-error"
	 *ngIf="control.invalid && control.dirty">{{errorMessage}}</div>
