<label class="input-label"
	   [class.ui-input-label-disabled]="disabled">{{label}}</label>

	<input 	[formControl]="control"
			type="{{type}}" 
			pInputText 
			(input)="inputFocus = true"
			(blur)="inputFocus = false"
			[disabled]="isDisabled()"
			[class.ui-input-error]="error && control.invalid && control.dirty"
			[class.ui-input-success]="success && control.valid"
	>
	<i class="{{icon}}" *ngIf="(!success && !error) || ((success || error) && !inputFocus)"></i>
	<i class="fas fa-check success-icon" *ngIf="success && inputFocus && control.valid"></i>
	<i class="fas fa-question error-icon" *ngIf="error && inputFocus && control.invalid && control.dirty"></i>


<div class="input-label input-label-error"
	 *ngIf="error && inputFocus && control.invalid && control.dirty">{{errorMessage}}</div>
