.gridster-column, .gridster-row {
    position: absolute;
    display: none;
    transition: .3s;
    box-sizing: border-box;
}

gridster-item{
    position: absolute;
}

.controls {
    display: none;
}