doctype html  
html(lang='en')  
    head
        title PDF
        style
            include style.css
            include primeng.min.css
    body
        h1 PDF Header
        hr
        #{content}