<label
    *ngIf="label"
    class="input-label"
    [class.ui-input-label-disabled]="disabled"
>
    {{label}}
</label>

<div class="ui-input-wrp ui-inputgroup" id="input_wrp">
    <i
        [ngClass]="getIconClasses()"
        *ngIf="icon && iconPosition=='left'"
    ></i>
    <input #inputText
        pInputText
        [formControl]="control"
        [type]="type"
        [placeholder]="placeholder"
        [attr.disabled]="isDisabled()"
		[ngClass]="getClasses()"
		[pTooltip]="tooltip"
		[escape]="tooltipEscape"
		[tooltipPosition]="tooltipPosition"
		[autofocus]="autofocus"
    >
	<p-sidebar [(visible)]="display" position="right" appendTo="_ngcontent-c2">
		<app-checkbox-group [checks]="checks"></app-checkbox-group>
	</p-sidebar>
	<button
		class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
		 pbutton="" type="button" (onHide)="close()" (click)="display = true">
		<span aria-hidden="true" class="ui-button-icon-left ui-clickable fa fa-filter"></span>
		<span class="ui-button-text ui-clickable">ui-btn</span>
	</button>
    <div class="input-label input-label-error">
        <span *ngIf="control.invalid && control.dirty">{{getError()}}</span>
    </div>
</div>
