<div [ngClass]="{'ui-inputswitch ui-widget': true, 'ui-inputswitch-checked': checked, 'ui-state-disabled': disabled, 'ui-inputswitch-focus': focused}" 
[ngStyle]="style" [class]="styleClass" (click)="onClick($event, cb)" role="checkbox" [attr.aria-checked]="checked">
<div class="ui-helper-hidden-accessible">
    <input #cb type="checkbox" [attr.id]="inputId" [attr.name]="name" [attr.tabindex]="tabindex" [checked]="checked" (change)="onInputChange($event)"
            (focus)="onFocus($event)" (blur)="onBlur($event)" [disabled]="disabled" />
</div>
<span class="ui-inputswitch-slider"></span>
</div>