@import ../../../theme/variables
@import ../../../theme/colors

$searchBarHeight: 160px

.projects-container
	position: relative
	padding-top: 110px
	height: 100%
	width: 100vw
	overflow-x: hidden
	box-sizing: border-box

.projects-content
	height: 100%
	display: flex
	flex-direction: column
	justify-content: space-between

.projects-pagination
	margin: 1.5rem 0

.project-card-container
	padding: 1.5rem
	padding-bottom: 0
	overflow: auto
	flex: 1
	display: grid
	grid-gap: 1rem
	grid-template-columns: repeat(auto-fill, minmax(250px, 300px))

.search-projects
	box-shadow: -1px 1px 3px rgba(151, 155, 174, 0.1), 1px 1px 3px rgba(151, 155, 174, 0.1)
	padding: 0 1.5rem
	position: absolute
	top: 0
	left: 0
	background-color: $backgroundWhiteColor
	height: 110px
	display: flex
	justify-content: center
	flex-direction: column
	width: 100%
	z-index: 101
	box-sizing: border-box
	h3
		margin: 0
		padding-bottom: .5rem

.search-label
	font-weight: 800
	font-family: $fontFamily
	font-size: 1.5rem
	padding: 0 5px

.empty-projects-list
	display: flex
	flex-direction: column
	width: 100%
	align-items: center
	padding-bottom: 8rem
	box-sizing: border-box
	height: 100%
	justify-content: center
	i
		font-size: 6rem
		margin-bottom: 1.5rem
	span
		font-size: 1.2rem
		font-family: $fontFamily

.owner-checkbox-group
	display: flex
	flex-wrap: wrap
	& p-checkbox
		width: 100%
		padding-top: .5rem	

.filter-container
	padding-bottom: 1.5rem

.filter-header
	font-weight: 600

.multi-select-container
	padding-top: .5rem

.filters-header
	letter-spacing: 1px

.hideIcon
	margin-left: -1rem
	cursor: pointer
	.label
		color: $activeColor
		padding-left: .5rem