<div class="project-card-container">
	<ng-container *ngIf="getProjects() | async as projects">
		<div *ngFor="let project of projects">
			<app-project-card
				[projectId]="project?.id"
				[projectName]="project?.name"
				[companyName]="project?.companyName"
				[groupName]="project.groupName"
				[userName]="project.user?.name"
				[email]="project.user?.email"
				[accessLevelId]="project?.accessLevelId"
			></app-project-card>
		</div>
	</ng-container>
</div>
<button (click)="sharePj()">Share</button>

<!--<app-card-->
<!--[projectId]="project?.id"-->
<!--[projectName]="project?.name"-->
<!--[companyName]="project?.companyName"-->
<!--[groupName]="project.groupName"-->
<!--[userName]="project.user?.name"-->
<!--[email]="project.user?.email"-->
<!--[accessLevelId]="project?.accessLevelId"-->
<!--&gt;</app-card>-->
