<div
	class="projects-container"
	spBackgroundColor="#f2f3f9"
	#projects
>
	<form [formGroup]="newFilterGroup">
		<div>
		
		</div>
		<p-sidebar 
			[(visible)]="display" 
			position="right" 
			[appendTo]="projects"
			[showCloseIcon]='false'
			
		>	
			<div class="hideIcon" (click)="hide()">
				<i class="fa fas fa-arrow-right"></i>
				<b class="label">Close</b>
			</div>
			<h3 class="filters-header">Filters</h3>
			<div class="filter-container">
				<div class="filter-header">Owner</div>
				<div class="owner-checkbox-group">
					<p-checkbox
						[formControl]="newFilterGroup.get('owner')"
						name="owner"
						value="me"
						label="Me">
					</p-checkbox>
					<p-checkbox
						[formControl]="newFilterGroup.get('owner')"
						name="owner"
						value="shared"
						label="Shared">
					</p-checkbox>
				</div>			
			</div>
			<div class="filter-container">
				<div class="filter-header">Charts</div>
				<div class="multi-select-container">
					<p-multiSelect
						[options]="charts"
						[showHeader]='false'
						[formControl]="newFilterGroup.get('charts')"
					></p-multiSelect>
				</div>
			</div>
			<div class="filter-container">
				<div class="filter-header">Date</div>
				<app-date-time-picker
					[(dateRange)]="datePicked"
					[fromControl]="newFilterGroup.get('date')"
					[toControl]="newFilterGroup.get('date')"
				>
				</app-date-time-picker>
			</div>
			
		</p-sidebar>
		<div class="search-projects">
			<h3>Projects</h3>
			<app-input-group
				class="ui-fluid"
				placeholder="e.g. Super project"
				type="text"
				[control]="newFilterGroup.get('title')"
				[buttonIcon]="'fa fa-filter'"
				(buttonClick)="display = true"
			>
			</app-input-group>
		</div>
		<!--<pre>{{newFilterGroup.value | json}}</pre>-->
	</form>
	<div class="projects-content" [loading-sp]="isLoading$ | async">
		<div class="empty-projects-list" *ngIf="isEmptyList$() | async">
			<i class="far fa-sad-tear"></i>
			<span>– Empty list</span>
		</div>
		<ng-container *ngIf="(getProjects() | async).length">
			<div
				class="project-card-container"
			>
				<div *ngFor="let project of (getProjects() | async)">
					<app-projects-card
						[projectId]="project?.id"
						[projectName]="project?.name"
						[companyName]="project?.companyName"
						[groupName]="project.groupName"
						[userName]="getUserName(project?.user)"
						[email]="project.user?.email"
						[accessLevelId]="project?.accessLevelId"
						[userCharts]="project?.userCharts"
						[updatedAt]="project?.updatedAt"
					></app-projects-card>
				</div>
			</div>
			<div class="projects-pagination">
				<app-paginator
					*ngIf="getPagination() | async as pagination"
					[page]="pagination.page"
					[rows]="pagination.rows"
					[totalRecords]="pagination.totalRecords"
					(onpagination)="onNewPage($event)"
				></app-paginator>
			</div>
		</ng-container>
	</div>
</div>
