<h3>Modify parsed data</h3>

    <virtual-scroll
      [items]="filteredList"
      [childHeight]="60"
      (update)="scrollItems = $event">
      <table>
        <tr class="headers">
          <td>#</td>
          <td>
            <label class="container">
              <input type="checkbox" id="checkAll">
              <span class="checkmark"></span>
            </label>
          </td>
          <td *ngFor="let index of payload.columns">{{index.title}}</td>
        </tr>
        <tr *ngFor="let item of scrollItems" (click)="editItem($event, item)" class="list">
          <td class="elemNum">{{filteredList.indexOf(item) + 1}}</td>
          <td><input type="checkbox" class="check"></td>
          <td *ngFor="let elem of item">{{elem}}</td>
        </tr>
      </table>
    </virtual-scroll>