<virtual-scroll
	[items]="filteredList"
	(update)="scrollItems = $event"
	(change)="addSelection($event)">
	<table (click)="turnoffDropdown($event)">
		<tr class="headers">
			<td>
				<div class="dropdown">
						<button class="dropbtn" (click)="toggleDropdown($event)">#
							<i class="fas fa-caret-down"></i>
						</button>
						<div class="dropdown-content" id="Dropdown">
							<a href="#">Delete selected</a>
						</div>
				</div> 
			</td>
			<td class="header-checkbox">
				<p-checkbox (click)="isSelectAll()" id="selectAll"></p-checkbox>
			</td>
			<td *ngFor="let index of payload.columns">{{index.title.toUpperCase()}}</td>
		</tr>
		<tr *ngFor="let item of scrollItems" class="list">
			<td class="elemNum">{{filteredList.indexOf(item) + 1}}</td>
			<td><p-checkbox (click)="selectOne($event, item)"></p-checkbox></td>
			<td *ngFor="let elem of item" (click)="editItem($event, item)">{{elem}}</td>
		</tr>
	</table>
</virtual-scroll>