h3
	margin: 20px 30px 5px
virtual-scroll
	display: block
	width: 100%
	height: 480px
	table 
		border-collapse: collapse
		border-spacing: 0px
		padding: 5px
		width: 100%
.list
	width: 100%
	height: 60px
	background-color: #ffffff
	.elemNum
		color: #999fae
	td	
		white-space: nowrap
		padding: 5px
		text-align: center
		color: #373737
		border-bottom: 2px solid #f2f3f9
	
.headers
	height: 30px
	text-align: center
	background-color: #ffffff
	color: #999fae
	border-bottom: 2px solid #f2f3f9

// .container
//     display: block
//     position: relative
// 	padding: 35px
//     margin-bottom: 12px
//     cursor: pointer
//     font-size: 22px
//     -webkit-user-select: none
//     -moz-user-select: none
//     -ms-user-select: none
//     user-select: none

// .container
// 	input	
// 		opacity: 0
// 		position: absolute
// 		cursor: pointer

// .checkmark
//     position: absolute
//     top: 0
//     left: 0
//     height: 15px
//     width: 15px
//     background-color: #eee

// .container:hover input ~ .checkmark
//     background-color: #ccc
// /* When the checkbox is checked, add a blue background */
// .container input:checked ~ .checkmark
//     background-color: #2196F3

// /* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after
//     content: ""
//     position: absolute
//     display: none

// /* Show the checkmark when checked */
// .container input:checked ~ .checkmark:after
//     display: block

// /* Style the checkmark/indicator */
// .container .checkmark:after
//     left: 9px
//     top: 5px
//     width: 5px
//     height: 10px
//     border: solid white
//     border-width: 0 3px 3px 0
//     -webkit-transform: rotate(45deg)
//     -ms-transform: rotate(45deg)
//     transform: rotate(45deg)