@import '../../../theme/colors';

.wrapper {
	width: 100%;
	margin-top: 15px;
}

// gridster {
// 	// min-height: 70.707vh !important; // temporary solution
// }

gridster .gridster-row {
	border-top: none !important;
	border-bottom: 1px solid #fff !important;
}

.gridster-row {
	border-top: none !important;
	border-bottom: 1px solid red !important;
}

gridster.fixed.horizontal {
	margin-top: 10px!important;
	width: 29.7cm;
  	height: 21cm ;
	margin: 0 auto;
	background-color: $teriaryColor;
}

gridster.fixed.vertical {
	width: 21cm;
  	height: 29.7cm;
	margin: 0 auto;
	background-color: $teriaryColor;
}

.secondary-text {
	color: $secondaryTextColor;
}

.control-remove,
.control-move {
	position: absolute;
	cursor: pointer;
}

.control-move {
	right: 0;
}

.gridster-buttons {
	width: 1188px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}

gridster .gridster-row {
	border-top: none !important;
	border-bottom: 1px solid green !important;
}
