@import '../../../theme/colors';

.wrapper {
	padding-top: 120px;
	margin: 0 auto;
}

.button-container {
	margin-left: 50px;
}

.gridster-container {
	margin: 0 auto;
	width: 1000px;
	height: 707px;
}

// gridster {
// 	height: 70.707vh !important; // temporary solution
// }

.secondary-text {
	color: $secondaryTextColor;
}

.control-remove,
.control-move {
	position: absolute;
	cursor: pointer;
}

.control-move {
	right: 0;
}
