<div class="wrapper">

	 <div class="gridster-buttons">
		<app-button type="icon" icon="fas fa-plus" (onclick)="toggleModal()"></app-button>
		<app-button type="icon" icon="fas fa-redo" (onclick)="changeLayout()"></app-button>
		<app-button label='Export' (click)="exportDashboard()"></app-button>
	</div> 

	<gridster [options]="options" #dashboardEl [ngClass]="getClasses()">
		<gridster-item [item]="item" *ngFor="let item of dashboard">
			<div class="controls">
				<app-button
					class="control-remove"
					type="icon"
					icon="fas fa-trash-alt"
					tooltip="Remove item"
					tooltipPosition="right"
					(onclick)="removeItem(item)"
				></app-button>

				<app-button
					class="control-move"
					type="icon"
					icon="fas fa-arrows-alt"
					tooltip="Move item"
					tooltipPosition="top"
				></app-button>
			</div>
			<!-- (mousedown)="$event.stopPropagation()"-->
			<div style="margin-top: 20px;" (mousedown)="$event.stopPropagation()" class="main-content">
				<ng-template #host></ng-template>
			</div>
		</gridster-item>
	</gridster>
</div>

<p-dialog header="Add element"
		  [(visible)]="displayModalDashboard"
		  [modal]="true"
		  [responsive]="true"
		  [closable]="true"
		  [width]="500"
		  [minWidth]="400"
		  [resizable]="false"
		  [minY]="70"
		  [draggable]="false"
		  [baseZIndex]="10000">

	<p-tabView activeIndex="0"
			   (onChange)="onChange($event)"
	>
		<p-tabPanel header="Charts">
			<div class="ui-g">
				<app-button
					*ngFor="let chart of userCharts"
					class="samples"
					(click)="addCharts(chart)"
					label="getNormalName(chart.sysName)"
				>
				</app-button>
			</div>
		</p-tabPanel>

		<p-tabPanel header="Text">
			<span>Input text</span>
			<app-button label='add text block' (click)="addTextBloack()">

			</app-button>
		</p-tabPanel>

	</p-tabView>
</p-dialog>


