<div class="chart-container project-bar-chart" [ngSwitch]="switchCharts">
	<app-bar-chart 
	[data]="data" 
	[width]="barChartCustomizeSettings.set1.value" 
	[height]="barChartCustomizeSettings.set2.value"
	[leftMargin] = "barChartCustomizeSettings.set3.value"
	[verticalPadding] = "barChartCustomizeSettings.set4.value"
	[innerPadding] = "barChartCustomizeSettings.set5.value"
	*ngSwitchCase="'barChart'"></app-bar-chart>
	<div *ngSwitchCase="'pieChart'">pieChart</div>
	<div *ngSwitchCase="'ganttChart'">ganttChart</div>
	<div *ngSwitchCase="'alluvialDiagram'">pieChart</div>
</div>
