<div class="chart-container" [ngSwitch]="chartType">
	<app-bar-chart 
		*ngSwitchCase="'barChart'"
		[data]="data"
		[settings]="customizeSettings"
		#chart
	></app-bar-chart>
	<app-pie-chart  
		*ngSwitchCase="'pieChart'" 
		[data]="data"
		[settings]="customizeSettings"
		#chart
	></app-pie-chart >
	<app-scatterplot-chart 
		*ngSwitchCase="'scatterplot'"
		[data]="data"
		[settings]="customizeSettings"
		#chart
	></app-scatterplot-chart>
	<app-world-map-chart 
		*ngSwitchCase="'worldMap'"
		#chart
	></app-world-map-chart>
</div>
