<div class="ui-date-time-picker-wrp">
	<label
		class="input-label"
	>
		From
	</label>
	<div class="ui-input-wrp">
		<input placeholder="Date Time Range From:"
			   pInputText
			   [(ngModel)]="dateTimeRange"
			   [selectMode]="'rangeFrom'"
			   [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2">
		<i class="ui-input-icon-right fa fa-calendar"></i>
		<owl-date-time #dtRange2></owl-date-time>
	</div>
</div>
<div class="ui-date-time-picker-wrp">
	<label
		class="input-label"
	>
		To
	</label>
	<div class="ui-input-wrp">
		<input placeholder="Date Time Range To:"
			   pInputText
			   [(ngModel)]="dateTimeRange"
			   [selectMode]="'rangeTo'"
			   [owlDateTimeTrigger]="dtRange3" [owlDateTime]="dtRange3">
		<i class="ui-input-icon-right fa fa-calendar"></i>
		<owl-date-time #dtRange3></owl-date-time>
	</div>
</div>
