<div class="ui-date-time-picker-wrp">
	<label
		class="input-label"
	>
		From
	</label>
	<div class="ui-input-wrp">
		<input placeholder="Date Time Range From:"
			   pInputText
			   [formControl]="fromControl"
			   [ngModel]="dateRange"
			   (ngModelChange)="onDateChange($event)"
			   [selectMode]="'rangeFrom'"
			   [owlDateTimeTrigger]="dtRange1"
			   [owlDateTime]="dtRange1"
		>
		<i class="ui-input-icon-right fa fa-calendar"></i>
		<owl-date-time #dtRange1></owl-date-time>
	</div>
</div>
<div class="ui-date-time-picker-wrp">
	<label
		class="input-label"
	>
		To
	</label>
	<div class="ui-input-wrp">
		<input placeholder="Date Time Range To:"
			   pInputText
			   [formControl]="toControl"
			   [ngModel]="dateRange"
			   (ngModelChange)="onDateChange($event)"
			   [selectMode]="'rangeTo'"
			   [owlDateTimeTrigger]="dtRange2"
			   [owlDateTime]="dtRange2"
		>
		<i class="ui-input-icon-right fa fa-calendar"></i>
		<owl-date-time #dtRange2></owl-date-time>
	</div>
</div>
