//Base color
$baseColor: #29166f

//Primary color (navigation)
$primaryColor: #6C64b3
$teriaryColor: #BCC1D5

//Secondary color (buttons)
$secondaryColor: #3ccc38

//Complementary color (background)
$backgroundGreyColor: #f2f3f9
$backgroundWhiteColor: #ffffff

// status colors
$errorColor: #FD3259
$activeColor: #1785FC
$successColor: #3ccc38
$disabledColor: #F2F2F9
$statusWarningColor: #fecd2f
$statusActiveColor: #6569df
$statusPendingColor: #24d5d8

// Complementary color (text & icons)
$textActiveColor: $activeColor
$textPrimaryColor: #171717
$textTeriaryColor: #bcc1d5
$textColorDark: #373737
$secondaryTextColor: #999fae

// Buttons
$defaultButtonColor: #29166F
$defaultButtonHover: #6C64B3
$secondaryButtonColor: $successColor
$secondaryButtonHover: #72d66f
$activeButtonColor: #BBBCD5

$shadowLightGrey: #d8d8d8