@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700')
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css')
@import colors

$fontFamily: 'Lato', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$fontSize: 0.9rem;
$smallFontSize: 0.8rem;
$borderRadius: 3px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 2px;
$headerBorderColor: $disabledColor;
$headerBgColor: white;
$headerTextColor: $textPrimaryColor;
$headerFontWeight: bold;
$headerIconTextColor: $textPrimaryColor;

//Content
$contentBorderWidth: 2px;
$contentBorderColor: #dddddd;
$contentBgColor: #f2f5f7;
$contentTextColor: #362b36;

//Default State
$stateDefaultBorderWidth: 2px;
$stateDefaultBorderColor: $disabledColor;
$stateDefaultBgColor: white;
$stateDefaultTextColor: $secondaryTextColor;

//Active State
$stateActiveBorderColor: $activeColor;
$stateActiveBgColor: white;
$stateActiveTextColor: $textPrimaryColor;

//Highlight State
$stateHighlightBorderColor: $activeColor;
$stateHighlightBgColor: white;
$stateHighlightTextColor: $activeColor;

//Focus State
$stateFocusBorderColor: $activeColor;
$stateFocusBgColor: white;
$stateFocusTextColor: $textPrimaryColor;

//Error State
$stateErrorBorderColor: $errorColor;
$stateErrorBgColor: $errorColor;
$stateErrorTextColor: $errorColor;

//Hover State
$stateHoverBorderColor: $activeColor;
$stateHoverBgColor: white;
$stateHoverTextColor: $textPrimaryColor;

//Forms
$inputBgColor: white;
$inputTextColor: $textPrimaryColor;
$invalidInputBorderColor: $errorColor;
$inputGroupTextColor: #999fae;

$boxShadow: 0 1px 3px $teriaryColor