@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700')
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css')
@import colors

$fontFamily: 'Lato', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$fontSize: 0.9rem;
$borderRadius: 3px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 2px;
$headerBorderColor: $defaultBorder;
$headerBgColor: white;
$headerTextColor: #373737;
$headerFontWeight: bold;
$headerIconTextColor: #373737;

//Content
$contentBorderWidth: 2px;
$contentBorderColor: #dddddd;
$contentBgColor: #f2f5f7;
$contentTextColor: #362b36;

//Default State
$stateDefaultBorderWidth: 2px;
$stateDefaultBorderColor: $defaultBorder;
$stateDefaultBgColor: white;
$stateDefaultTextColor: #373737;

//Active State
$stateActiveBorderColor: $activeBorder;
$stateActiveBgColor: white;
$stateActiveTextColor: #373737;

//Highlight State
$stateHighlightBorderColor: $activeBorder;
$stateHighlightBgColor: white;
$stateHighlightTextColor: #373737;

//Focus State
$stateFocusBorderColor: $activeBorder;
$stateFocusBgColor: white;
$stateFocusTextColor: #373737;

//Error State
$stateErrorBorderColor: $errorColor;
$stateErrorBgColor: $errorColor;
$stateErrorTextColor: #ffffff;

//Hover State
$stateHoverBorderColor: $activeBorder;
$stateHoverBgColor: white;
$stateHoverTextColor: #373737;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #373737;
$invalidInputBorderColor: $errorColor;
$inputGroupTextColor: #999fae;

$boxShadow: 0 1px 3px $teriaryColor