.project-container
  width: 100%
  margin: 0 auto

app-header
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: #ffffff

app-stepper
  position: fixed
  top: 120px
  left: 0px
  background-color: #ffffff

.main-content
  margin: 120px auto 20px
  width: 60%

app-load-data
  display: block
  margin: 20px 0 40px

app-data-table
  display: block
  margin: 20px 0  