<div class="project-container">
	<app-stepper
		(steps)="getSteps($event)"
		[errors]="stepperErrors"
		[selectedStep]="selectedStep"
	></app-stepper>
	<div class="main-content">
	<app-project-name id="load" #viewItem [projectName]="projectName" (setProjectName)="changeProjectName($event)">
	</app-project-name>
		<app-load-data 	*ngIf="!(getIsActiveChartDataset() | async)"></app-load-data>
		<app-data-table *ngIf="isDataset()" id="table" #viewItem></app-data-table>
		<app-list-charts *ngIf="isDataset()" id="charts" #viewItem></app-list-charts>
		<app-dimension-settings *ngIf="isDataset()" id="settings" #viewItem></app-dimension-settings>
		<app-custom-chart *ngIf="isCharts()" id="chart" #viewItem></app-custom-chart>
		<app-export *ngIf="isCharts()" id="export" #viewItem></app-export>
	</div>
</div>
