@import ../variables
@import ../colors

.ui-autocomplete .ui-autocomplete-dropdown 
    height: 3.15em
    max-height: 45px
    width: 2em
    margin-right: 0
    vertical-align: top

.ui-autocomplete-panel .ui-autocomplete-list
	color: $secondaryTextColor
	padding: 0
	background-color: $stateDefaultBgColor

.ui-autocomplete-panel .ui-autocomplete-list-item
	padding: 10px
	padding-left: 20px
	border-radius: 0
	&.ui-state-highlight
		background-color: $disabledColor
		color: #000000

.ui-autocomplete-border-filterButton
    .ui-autocomplete-input
     border-top-right-radius: 0px
     border-bottom-right-radius: 0px
    .ui-autocomplete .ui-autocomplete-panel 
     min-width: calc(100% + 110px)

.ui-autocomplete-filterButton-border
    .ui-button-tool
     border-top-left-radius: 0px
     border-bottom-left-radius: 0px
     border-left: 0
    .ui-button-tool:enabled:hover
     border-left: 0
    .ui-button-tool:enabled:active
     border-left: 0
    .ui-button-tool:enabled:focus
     border-left: 0
    

    
