@import ../variables
@import ../colors

.ui-card-content
	box-sizing: content-box
	background-color: $backgroundWhiteColor
	width: 260px
	padding: 20px
	padding-top: 12px
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
		transition: 0.5s
	font-family: $fontFamily !important
	position: relative

	.project-name
		text-decoration: none
	.project-name:hover
		opacity: 0.8


	.ui-buttonset.ui-splitbutton
		position: absolute
		top: 0
		right: 0
		box-shadow: none
		&:hover
			box-shadow: none
	.ui-buttonset.ui-splitbutton:hover
		background: #fff
		box-shadow: none
		color: $primaryColor
	.ui-buttonset.ui-splitbutton:active
		background-color: #fff
	.ui-buttonset.ui-splitbutton:hover .ui-widget.ui-button,
	.ui-buttonset.ui-splitbutton:hover .ui-button
		box-shadow: none
		color: $stateActiveTextColor
	.ui-buttonset.ui-splitbutton .ui-widget.ui-button:active,
	.ui-buttonset.ui-splitbutton .ui-button:active
		background-color: #fff
	.project-name
		color: $activeColor
		font-weight: 900
		font-size: 1.2rem

.ui-card-content:hover
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)


.project-card-user
	margin-bottom: 0.5rem

.project-card-folder
	margin: 0.5rem 0 0.5rem 0
	display: flex
	align-items: center

.card-user-name
	//font-weight: 600
	font-family: $fontFamily
	font-size: 1rem
	padding: 0 5px

.card-profile-image
	cursor: pointer
	width: 40px
	height: 40px
	border-radius: 50%
	&.user-image
		border: 2px solid $stateDefaultTextColor
		display: flex
		align-items: center
		justify-content: center
		font-size: 1.3rem
		color: $stateDefaultTextColor

.project-card-project-info
	display: flex
	& a
		color: $linkTextColor
		text-decoration: none
		&:visited
			color: $linkTextColor !important
		&:hover
			color: $linkHoverTextColor !important

.project-access
	margin-top: 10px


.user-charts
	display: inline-block

.chart-type
	float: left
	margin: 0.1rem 0.2rem 0.1rem 0
	letter-spacing: 0.05rem
	font-weight: 600
	font-size: 0.7rem
	padding: 0 0.7rem
	height: 1.4rem
	line-height: 1.35rem
	border-radius: 0.4rem
	background-color: #f1f1f1
.bar-chart-tag
	background-color: #6569DF
	color: white
.scatterplot-tag
	background-color: #FEC81E
	color: white
.pie-chart-tag
	background-color: #FD3258
	color: white

.last-update
	& span
		padding: 0 5px
//float: left
//font-size: 0.7rem

.dialog-button
	.ui-button
		margin: .25em
		border: 1px solid $baseColor
//.project-card-control
//	position: relative
//	& input
//		position: absolute
//		bottom: 0
//		left: 0

.ui-card-content .pi-caret-down:before
	content: "\e950" !important
	font-weight: 900

.last-update > b
	color: #6569DF
