@import ../variables
@import ../colors


.ui-chkbox .ui-chkbox-box
	border: 2px solid $disabledButtonColor
	margin-right: 10px
	width: 18px
	height: 18px
	
	&.ui-state-active:not(.ui-state-disabled)
		border: 2px solid $secondaryButtonColor
		background-color: $secondaryButtonColor
		box-shadow: none
		outline: none

	&.ui-state-active.ui-state-disabled
		background-color: $whiteBackgroundColor
		opacity: 1
		border: 2px solid $disabledButtonColor
		.pi-check:before
			color: $secondaryTextColor
	
	&.ui-state-focus
		box-shadow: none
		outline: none
		background-color: $whiteBackgroundColor

	&.ui-state-disabled
		opacity: 1
		background-color: $disabledButtonColor
	
.ui-chkbox .ui-chkbox-icon
	font-size: 1.1rem

.ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover,
	border: 2px solid $disabledButtonColor
	box-shadow: none
	outline: none
	background-color: $disabledButtonColor

.ui-checkbox-wrp
	display: flex
	align-items: center
	