@import ../variables
@import ../colors

.dd-container
    position: relative
    justify-content: space-between
        
.drop-area
    position: relative
    text-align: center
    font-size: 1.2rem
    font-weight: 600
    font-family: $fontFamily
    color: $secondaryTextColor
    margin: 0.25rem
    border-radius: 2px
    min-height: 180px
    width: 45%
    float: left
    background-color: white
    transition: border .15s ease-in-out
    box-shadow: $boxShadow

.drop-container
    margin-top: 10px
    min-height: 100px

.draggble
    position: relative
    cursor: grab
    color: white
    font-weight: 600
    margin: 7px
    padding: 10px
    font-family: $fontFamily
    font-size: 0.9rem
    letter-spacing: 1px
    line-height: 18px
    border-radius: 2px
    background-color: $primaryColor
    text-align: left
    transition: opacity 0.4s ease-in-out
    box-shadow: $boxShadow

.dimension-header
    margin: .5rem 0 .25rem
    color: $textPrimaryColor

.dimension-sub-header
    margin: 0

.draggble:hover
    opacity: 0.8
    transition: opacity 0.4s ease-in-out

.remove-icon
    position: absolute
    right: 10px
    top: 11px
    cursor: pointer

.required-icon
    color: $errorColor
    position: absolute
    right: 10px
    top: 10px

.multiple-icon
    color: $secondaryColor
    position: absolute
    left: 10px
    top: 10px

.remove-all-icon
    cursor: pointer
    position: absolute
    right: -0.6rem
    top: -3.4rem

.dragContainer
    padding: 0
    margin: -0.25rem

.dropContainer
    padding: 0
    margin: -0.25rem
    display: flex
    flex-wrap: wrap
    justify-content: center