@import ../variables
@import ../colors

.dd-container
    
.dropArea
    position: relative
    text-align: center
    font-size: 1.2rem
    font-weight: 600
    font-family: $fontFamily
    color: $secondaryTextColor
    margin: 5px
    border-radius: 2px
    min-height: 160px
    min-width: 220px
    background-color: white
    transition: border .15s ease-in-out
    box-shadow: $boxShadow

.dropContainer
    margin-top: 10px
    min-height: 100px

.draggble
    position: relative
    cursor: grab
    color: white
    font-weight: 600
    margin: 5px
    padding: 10px
    font-family: $fontFamily
    font-size: 0.9rem
    letter-spacing: 1px
    line-height: 18px
    border-radius: 2px
    background-color: $activeColor
    text-align: left
    transition: opacity 0.4s ease-in-out
    box-shadow: $boxShadow
    max-width: 260px

.dropContainer .draggble 
    margin-bottom: 0

.multiple .dropContainer .draggble 
    margin: 5px 

.draggble:hover
    opacity: 0.8
    transition: opacity 0.4s ease-in-out

.removeIcon
    position: absolute
    right: 10px
    top: 11px
    cursor: pointer

.removeIcon:hover
    color: $errorColor
    transition: color 0.4s ease-in-out

.requiredIcon
    color: $activeColor
    position: absolute
    right: 10px
    top: 10px

.multipleIcon
    position: absolute
    left: 10px
    top: 10px