@import ../variables
@import ../colors

.ui-widget-header 
    background: $backgroundWhiteColor
    border: 0
    font-size: 1rem
    

.header-container
    height: 80px
    padding: 1rem 1rem 0 1rem
    box-shadow: -1px 1px 3px rgba(151, 155, 174, 0.1), 1px 1px 3px rgba(151, 155, 174, 0.1)

.header-component
    padding: 0
    
.header-logo
    position: absolute
    top: 12px
    left: 1.5rem
    height: 50px
.header-profile-container
    float: right 
 
.ui-tabmenu .ui-tabmenu-nav
    text-align: center

.ui-tabmenu .ui-tabmenu-nav
    text-align: center    

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem
    padding-bottom: 1.85rem
    float: none
    display: inline

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:first-child
    margin-right: 40px
   
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a 
    float: none
    display: inline-block

    
.header-profile
    border: 0

.header-profile-container
    position: relative

.header-profile .ui-buttonset.ui-splitbutton
    box-shadow: none
    background-color: transparent
    
.header-profile .ui-buttonset.ui-splitbutton:hover
    box-shadow: none
    background-color: transparent
.header-profile .ui-buttonset.ui-splitbutton:active .ui-widget.ui-button:enabled:not(.ui-splitbutton-menubutton), .ui-buttonset.ui-splitbutton:active .ui-button:enabled:not(.ui-splitbutton-menubutton) 
    color: $textColorDark
    background-color: transparent
    border: none
.header-profile .ui-buttonset.ui-splitbutton:active .ui-widget.ui-button:enabled, .ui-buttonset.ui-splitbutton:active .ui-button:enabled
    color: $textColorDark
    background-color: transparent
    border: none

.header-profile .ui-menu 
    width: 9.7em
.header-profile .ui-buttonset.ui-splitbutton .ui-widget.ui-button:not(.ui-splitbutton-menubutton), .ui-buttonset.ui-splitbutton .ui-button:not(.ui-splitbutton-menubutton) 
    min-width: 100px
.header-profile .ui-buttonset.ui-splitbutton .ui-widget.ui-button, .ui-buttonset.ui-splitbutton .ui-button
    padding-left: 0
.header-profile .ui-buttonset.ui-splitbutton:hover .ui-widget.ui-button, .ui-buttonset.ui-splitbutton:hover .ui-button 
    color: $textColorDark
.header-profile .ui-button .ui-button-text 
    font-size: 1rem
    float: left

.header-profile-image
    position: absolute
    right: 40px
    cursor: pointer
    max-width: 45px
    max-height: 45px
    border-radius: 50%

.header-newProject-button .ui-widget.ui-button-default, .ui-button-default 
    margin-right: 20px 
    font-size: 1rem
    color: $secondaryTextColor
    background-color: transparent
    border-color: transparent

.header-newProject-button .ui-widget.ui-button-default:enabled:hover, .ui-button-default:enabled:hover
    color: $textColorDark
    background-color: transparent
    border-color: transparent
    box-shadow: none

.header-newProject-button .ui-widget.ui-button-default:enabled:active, .ui-button-default:enabled:active
    color: $textColorDark
    background-color: transparent
    border-color: transparent

.header-newProject-button .ui-widget.ui-button-default:enabled:focus, .ui-button-default:enabled:focus
    color: $textColorDark
    background-color: transparent
    border-color: transparent
