@import ../colors

.load-data-container
	.ui-fileupload-content
		background-color: $disabledColor
		border: 2px solid $disabledColor
		border-top: none
		margin-top: 5px
		min-height: 100px
		border-radius: 3px
		.upload-file-text
			color: $teriaryColor
			font-family: $fontFamily
			margin: 0
			i
				margin-right: 5px

	.ui-fileupload-buttonbar
		background: white
		border: none
		padding: 0

		.ui-widget-header .ui-button, 
		.ui-widget-content .ui-button, 
		.ui-widget.ui-button, 
		.ui-button
			background-color: $defaultButtonColor
			border: none
			border-radius: 0
			color: $stateActiveBgColor
			border-radius: 3px
			padding: 5px 10px
			.ui-button-icon-left
				margin-right: 5px
				font-size: 1rem
				position: relative
				bottom: -2px
				left: 0

	.ui-fileupload-choose:not(.ui-state-disabled):hover,
	.ui-widget-header .ui-button:enabled:hover
		background-color: $defaultButtonHover
		border: 2px solid $defaultButtonHover
		border: none
		color: $stateActiveBgColor

.load-url-group
	display: grid
	grid-template-columns: calc(100% - 110px) 110px
	label
		display: none
	.ui-inputtext
		border-radius: 3px 0 0 3px
	.ui-widget.ui-button-default,
	.ui-widget.ui-button
		border-radius: 0 3px 3px 0
	.ui-input-wrp
		width: 100%	

.load-data-paste textarea.ui-widget.ui-inputtext
	width: 100%
	resize: none
