@import ../variables
@import ../colors

.ui-main-block
	width: 100%
	min-height: 20px
	border: 2px solid $disabledColor
	border-top: none
	padding: 16px 10px
	border-radius: 2px
	cursor: pointer
	font-family: $fontFamily
	font-size: $fontSize
	transition: .1s ease