@import ../colors
@import ../variables

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
	height: 2.5em
	width: 2.5em
	line-height: 2.35em
	margin: 0 1px


.ui-paginator-element
	background-color: $backgroundWhiteColor
	// color: $textColorDark !important
	border: none !important
	border-radius: 0

.ui-paginator .ui-paginator-pages
	margin: 0

.ui-paginator
	display: flex
	justify-content: center
	background: none
	width: 100%

.ui-paginator .ui-paginator-page.ui-state-active
	background-color: $defaultButtonColor

.ui-paginator-icon.fa.fa-forward, .ui-paginator-icon.fa.fa-backward
	font-size: 12px
