@import ../colors
@import ../variables

.ui-paginator-element
	height: 2em !important
	width: 2em !important
	background-color: $backgroundWhiteColor
	color: black !important
	line-height: 1.75em !important
	margin-left: 0 !important
	margin-right: 0	!important
//border: none !important
//border-radius: 0

.ui-dropdown .ui-dropdown-label
	padding-left: 5px !important

.ui-paginator-pages
	margin-left: 0 !important
	margin-right: 0	!important

.ui-paginator
	display: flex
	justify-content: center
	background: none
	margin-bottom: 20px
	margin-top: 10px

.ui-paginator .ui-paginator-page.ui-state-active
	color: white !important
	background-color: $defaultButtonColor
	//border: none
	height: 1.75em !important
	width: 1.9em !important
	border: 0
	border-radius: 0
