@import ../variables
@import ../colors

.project-card-wrp
	background-color: $backgroundWhiteColor
	width: 200px
	display: grid
	grid-template-columns: 90% 10%
	padding: 20px

.project-card-user
	display: grid

.project-card-folder
	display: grid

.project-card-project-info
	display: grid

.project-card-control
	position: relative
	& input:nth-child(1)
		position: absolute
		bottom: 0
		left: 0
