@import ../variables
@import ../colors

.ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover 
  border-color: #c0c0c0
  background-color: #eeeeee
  color: #212121
  .ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover a 
    color: #212121
.ui-radiobutton-box.ui-state-active 
  border: 1px solid #3ccc38
  background: #3ccc38
  color: #FFFFFF

.ui-radiobutton-box.ui-state-focus 
  -moz-box-shadow: 0px 0px 5px #3ccc38
  -webkit-box-shadow: 0px 0px 5px #3ccc38
  box-shadow: 0px 0px 5px #3ccc38

.ui-radiobutton-label
    font-family: $fontFamily