@import ../variables
@import ../colors

.ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover 
  border-color: #c0c0c0
  background-color: #eeeeee
  color: #212121
  .ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover a 
    color: #212121
    
.ui-radiobutton-box.ui-state-active 
  border: 1px solid $secondaryColor
  background: $secondaryColor
  color: #FFFFFF

.ui-radiobutton-box.ui-state-focus 
  -moz-box-shadow: 0px 0px 5px $secondaryColor
  -webkit-box-shadow: 0px 0px 5px $secondaryColor
  box-shadow: 0px 0px 5px $secondaryColor

.ui-radiobutton-box.ui-widget.ui-state-default.ui-state-disabled
  background-color: $textTeriaryColor

.ui-radiobutton-label
    //font-family: $fontFamily
