@import ../variables
@import ../colors

.ui-tabview
	background-color: transparent
	padding-left: 0
	padding-right: 0
	padding-bottom: .6rem
	&.ui-tabview-top>.ui-tabview-nav
		padding: 0
	.ui-tabview-nav
		border: none
		background-color: transparent

	.ui-tabview-nav li
		margin-right: 24px
		padding-bottom: 10px

		&:not(.ui-state-active):not(.ui-state-disabled):hover
			background-color: transparent
			border-bottom: 3px solid $baseColor
		
		&:last-child
			margin-right: 0
		& a
			padding: 0

		
		&.ui-state-default
			border: none
			border-bottom: 3px solid transparent
			background-color: transparent
		&.ui-state-active
			border-bottom: 3px solid $baseColor

		.ui-tabview-title
			border-bottom: 3px solid transparent

		&.ui-tabview-selected .ui-tabview-title
			// border-bottom-color: $baseColor
			font-weight: 600
			cursor: pointer
			padding: 0
			padding-bottom: 5px

		.ui-tabview-close
			margin: 0 0 .3rem .2rem
			color: $secondaryTextColor
			transition: .4s ease
			&:hover
				color: $stateErrorTextColor
		
		.ui-tabview-right-icon,
		.ui-tabview-left-icon
			font-size: 0.7rem
			margin: 0 8px

	.ui-tabview-panel
		padding: 0
 