@import ../colors
@import ../variables


.ui-tooltip 
	// min-width: 118px
	.ui-tooltip-text
		min-width: 118px
		background-color: $stateDefaultBgColor
		color: $stateActiveTextColor
		border-radius: 3px
		padding: 5px
		box-shadow: 0 2px 8px $teriaryColor
		padding: 12px

		i
			margin-right: 5px

		h1, h2, h3, h4, h5, h6
			margin: 0
			margin-bottom: 12px

	&.ui-tooltip-right
		.ui-tooltip-text
			min-width: 123px
		.ui-tooltip-arrow
			border-right-color: $stateDefaultBgColor

	&.ui-tooltip-left
		margin-right: 5px
		.ui-tooltip-text
			min-width: 123px
		.ui-tooltip-arrow
			border-left-color: $stateDefaultBgColor
	
	&.ui-tooltip-top
		.ui-tooltip-arrow
			border-top-color: $stateDefaultBgColor

	&.ui-tooltip-bottom
		.ui-tooltip-arrow
			border-bottom-color: $stateDefaultBgColor

