.custom-chart-container
	display: flex
	justify-content: center
	max-height: 55rem
	margin-top: 1.5rem

app-chart
	display: flex
	justify-content: center
	padding: 0px
	padding-left: 1rem
app-customize-chart
	padding: 0px